.content {
  margin-top: 2em;
}

h1 {
  margin-bottom: 0.5em;
}

h1 span:first-child {
  border: solid 1px #aaa;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
}

h1 time {
  font-size: 0.5em;
  font-weight: normal;
}

article {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
}

article .changelog {
  margin-left: 1em;
}

article ul {
  padding-left: 1em;
  list-style: disc;
  margin-left: 1em;
}

.downloads {
  text-align: center;
  margin-bottom: 2em;
}

.downloads .download {
  display: inline-block;
  margin: 0 1em;
}

.downloads .download > a div {
  position: relative;
  padding-right: 16px;
}

.downloads img {
  position: absolute;
  top: -2px;
  width: 32px;
  padding-left: 4px;
  filter: invert(100%);
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  background: #444;
  color: #eee;
  white-space: nowrap;
  font-size: 0.85em;
}
