* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  * {
    /* hack: スマホのchromeでサイトを見ると、横幅が780px以上の要素のフォントサイズが倍になってしまう不具合を回避する */
    max-height: 100%;
  }
}

@font-face {
  font-family: "photon-entypo";
  src: url("./photon/fonts/photon-entypo.eot");
  src: url("./photon/fonts/photon-entypo.eot?#iefix") format("eot"), url("./photon/fonts/photon-entypo.woff") format("woff"), url("./photon/fonts/photon-entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  min-height: calc(100vh - 70px);
  /*color: #66595c;*/
  color: #444;
  font: 16px/1.7 normal normal;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
  color: #4078c0;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #ddd;
}

tr:nth-child(even) {
  background: #eee;
}

tr:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

td {
  padding: 0.25em 0.5em;
  /*border: solid 1px #aaa;*/
}

p {
  padding: 0.5em 0;
}

nav {
  padding: 0.5em 0;
  /*background: #545454;*/
  /*background: #4C3852;*/
  /*background: #426075;*/
}

nav > div {
  display: flex;
  max-width: 980px;
  margin: auto;
}

@media (max-width: 1024px) {
  nav > div {
    max-width: 800px;
  }
}

nav > div .stretch {
  flex-grow: 1;
}

nav a {
  color: inherit;
  padding: 0 1em;
}

nav a:first-child {
  padding: 0;
}

nav .github,
nav .twitter {
  width: 24px;
  vertical-align: top;
}

header {
  position: relative;
  padding: 3em 0 8em;
  text-align: center;
  /*background: #86B0CE;*/
  background: #1c3e73;
  /*background: #4C3852;*/
  border-top: solid 1px #fff;
  /*color: white;*/
}

.eye-catch {
  position: relative;
  text-align: center;
}

.eye-catch img{
  max-width: 1024px;
  margin: -7em auto 0;
}

@media (max-width: 1024px) {
  .eye-catch img{
    max-width: 800px;
  }
}

.overview {
  width: 400px;
  margin: auto auto 2em;
}

.overview h2 {
  text-align: center;
}

.download a,
.buy-license a {
  font-size: 1.1em;
  display: block;
  padding: 0.5em 0;
  border-radius: 2px;
  font-weight: bold;
  min-width: 220px;
  text-align: center;
  color: #fff;
  background: rgba(255, 65, 124, 0.85);
}

.downloads .notice,
.buy-license .notice {
  font-size: 0.6em;
  font-weight: normal;
  color: #ffdcf2;
}

.content {
  max-width: 980px;
  margin: 0 auto 4em;
}

@media (max-width: 1024px) {
  .content {
    max-width: 800px;
  }
}

.content article img {
  max-width: 300px;
  box-shadow: 4px 4px 10px #aaa;
}

footer {
  position: absolute;
  width: 100%;
  bottom: -70px;
  padding: 1em 0;
  text-align: center;
  background: #eee;
  color: #aaa;
  font-size: 0.8em;
}

footer img {
  width: 24px;
  border-radius: 4px;
}

footer a {
  color: #aaa;
}

/* see photon */
.icon:before {
  position: relative;
  display: inline-block;
  font-family: "photon-entypo";
  speak: none;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: '\e80a';
}

.icon-users:before {
  content: '\e80b';
}

.icon-eye:before {
  content: '\e826';
}

.icon-megaphone:before {
  content: '\e8d2';
}

.icon-download:before {
  content: '\e82d';
}

.icon-inbox:before {
  content: '\e8af';
}

.icon-book:before {
  content: '\e84f';
}

.icon-star:before {
  content: '\e808';
}

.icon-doc-text:before {
  content: '\e84b';
}

.icon-archive:before {
  content: '\e851';
}

.icon-github:before {
  content: '\e8eb';
}

.icon-twitter:before {
  content: '\e8f1';
}
