* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  * {
    /* hack: スマホのchromeでサイトを見ると、横幅が780px以上の要素のフォントサイズが倍になってしまう不具合を回避する */
    max-height: 100%;
  }
  .content {
    max-width: 800px;
  }
  nav > div {
    max-width: 800px;
  }
}

body {
  position: relative;
  min-height: calc(100vh - 70px);
  /*color: #66595c;*/
  color: #444;
  font: 16px/1.7 normal normal;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
  color: #4078c0;
}

ul {
  list-style: none;
}

p {
  padding: 0.5em 0;
}

nav {
  padding: 0.5em 0;
  overflow-x: auto;
}

nav > div {
  display: flex;
  max-width: 980px;
  margin: auto;
}

nav > div .stretch {
  flex-grow: 1;
}

nav a {
  color: inherit;
  padding: 0 0.75em;
}

nav a:first-child {
  padding: 0;
}

nav .hashtag-button {
  display: flex;
  align-items: center;
  border: solid 1px rgba(255, 65, 124, 0.85);
  border-radius: 4px;
  color: rgba(255, 65, 124, 0.85);
}

nav .sponsor-button {
  display: flex;
  align-items: center;
  border: solid 1px rgba(255, 65, 124, 0.85);
  border-radius: 4px;
  color: rgba(255, 65, 124, 0.85);
  margin-left: 8px;
}

a.download {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 2px;
  font-weight: bold;
  min-width: 200px;
  text-align: center;
  color: #fff;
  background: rgba(255, 65, 124, 0.85);
}

.download .download-label {
  font-size: 0.8em;
  font-weight: normal;
}

.downloads .notice {
  font-size: 0.6em;
  font-weight: normal;
  color: #ffdcf2;
}

.content {
  max-width: 980px;
  margin: 0 auto 4em;
}

footer {
  position: absolute;
  width: 100%;
  bottom: -70px;
  padding: 1em 0;
  text-align: center;
  background: #eee;
  color: #aaa;
  font-size: 0.8em;
}

footer img {
  width: 24px;
  border-radius: 4px;
}

footer a {
  color: #aaa;
}

.mdi {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.mdi.large {
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}
